TEMPLATE_AUTO_REJECT="
  main.template.tf 
  .parent-template.config 
  vars/** 
  tests/*.mod 
  *.lock.hcl
  tests/template* 
  required.template.tf 
"
TEMPLATE_REPO_ORIGIN=repo-template
TEMPLATE_REPO_BRANCH=main
TEMPLATE_LAST_COMMIT_EPOCH=1668426208 # 2022-11-14 11:43:28
TEMPLATE_REPO_URL=https://github.com/utkusarioglu/tf-k8s-repo-template.git
